// COLOR VARIABLES
$color-primary: #7477bf;
$color-primary-dark: #4d4c71;

$color-white: #f9f7f6;
$color-black: #101d2c;
$color-grey: #d1d1d1;
$color-grey--light: #f0f0f0;
$color-grey--dark1: #8d8c8c;
$color-grey--light2: #aaa9a9;

$font-secondary: "Muli", sans-serif;
$font-primary: "Open Sans", sans-serif;

$color-text: #727171;
