.traffic {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__nav {
    display: flex;
  }

  &__link {
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: 0.3s;

    &:not(:first-child) {
      margin-left: 2.5rem;
    }
  }

  &__chart {
    margin: 1rem 0;
    width: 100%;
    height: 30vh;
  }
}

.active,
.traffic__link:hover {
  background-color: #81c98f;
  border-radius: 1rem;
  color: #fff;
}

@media (min-width: 768px) {
  .traffic {
    &__header {
      flex-direction: row;
      justify-content: space-between;
    }

    &__link {
      cursor: pointer;
      padding: 0.5rem 2rem;
    }
  }
}

@media (min-width: 1024px) {
  .traffic {
    grid-area: traffic;
  }

  &__chart {
    margin: 2rem 0;
  }

  &__link {
    margin-left: 10rem;
  }
}
