#searchUsers {
  li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 0.6rem;
    font-size: 1.3rem;
    color: black;
    display: block;
    cursor: pointer;

    &:hover:not(.header) {
      background-color: #eee;
    }
  }

  display: none;
}
